:host {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;
}

.game-chat__body {
  padding: 0.5rem;
  background-color: whitesmoke;
  flex-grow: 1;
  display: flex;
  flex-flow: column-reverse nowrap;
  row-gap: 1rem;
  overflow: overlay;
}

.game-chat__input {
  display: flex;
  column-gap: 0.5rem;

  ::ng-deep.sudo-send-button {
    background-color: lightgreen;
  }
}

.game-chat__textarea {
  flex-grow: 1;
  resize: none;
  transition: 0.25s;
  outline: none;
  height: 2rem;
  border-top: 1px solid darkgray;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  &:focus {
    height: 3rem;
    transition: 0.25s;
  }
}

user-message.right::ng-deep {
  flex-direction: row-reverse;
  align-items: flex-end;

  .user-message__message {
    flex-direction: row-reverse;
    background-color: var(--user-color);

    &:first-of-type {
      border-top-left-radius: 1rem;
    }

    &:last-of-type {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 1rem;
    }
  }

  .user-message {
    align-items: flex-end;

    &:after {
      right: 0;
      border-left-color: var(--user-color);
      border-right: 0;
      margin-top: -10px;
      margin-right: 2px;
    }
  }
}
user-message:not(.right)::ng-deep {
  flex-direction: row;

  .user-message__message {
    flex-direction: row;
    background-color: var(--user-color);

    &:first-of-type {
      border-top-right-radius: 1rem;
    }

    &:last-of-type {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 1rem;
    }
  }

  .user-message {
    align-items: flex-start;

    &:after {
      left: 0;
      border-right-color: var(--user-color);
      border-left: 0;
      margin-left: 2px;
    }
  }
}

turn-message {
  &.winner, &.right.winner {
    width: unset;
    align-self: stretch;
  }
  &.right {
    background-color: var(--user-color);
    align-self: flex-end;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  &:not(.right) {
    background-color: var(--user-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }  
}
